/*In this section: base*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}

body{
    background: url('../images/background.png');
    font-size: $fontsize;
    width: 100%;
    height: 1700px;
}

input, select, textarea, label {
    justify-content: center;    
    text-align: center;
    padding: 3px;
    border-radius: 20px;
}