/*In this section: base*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}

body{
    background: url(/assets/images/fondo1.png);
    font-size: $fontsize;
    main{
        width: $width-max;
    }
}

input, select, textarea, label {

    justify-content: center;    
    text-align: center;
    padding: 3px;
    border-radius: 20px 20px 20px 20px;

}