@import 'utilities/variables';
@import 'base/base';
@import 'layout/header';
@import 'components/container';
@import 'layout/menu';


.click__meet { /* Haz click para conocerme*/
    width: $width-max;/* menu contenedor*/
    margin: 0 auto;
    display:flex;
    text-align: center;
    align-items:center;
    justify-content: center;
}

.menu__list {
    text-align: center;
    list-style: none;
    text-decoration: none;
    width: $width-max;
    margin: 0 auto;
    color:aliceblue;
    background-color:#d623cb;
    text-decoration:none;
    padding: 5px;
    border-radius: 20px 20px 20px 20px;
}
.menu__item:hover{
    background: #c157ba;
    }
.menu__sep{
    margin-right: 5px;
    }                  

.header__name{
    width: 95%;
}
.title__logo{
    width: 5vw;
}
.navegation{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: $width-max;
}
.section { 
    width: $width-max;
    color: #292624;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
}
.menu{
    text-align: center;
}
.menu__item {
    border-radius: 40px 40px 40px 40px;
}
.section-form {
    text-align: center;
}     
.footer {
    text-decoration:none;
    padding: 10px;
    text-align: center;
    width: $width-max;
}
.footer__item{
    text-decoration:none;
    margin-right: 4px;
}

.title__welcome {
    font-size: 250%;
    width: $width-max;
    text-align: center;
}
.form-control {
    width: 40%;
    justify-content:center;    
    text-align: center;
    align-items: center;
}
.image {
    display: flex;
    flex-direction: center;
    justify-content: center;
    width: 100%;
}
.image_size {
    border-radius: 20px 20px 20px 20px;
    width: 75%;
    }


/*@media(max-width: 320px) {
    body nav div ul li a{
        width: 115px;
    }
    .titulo{
        width: 88%;
        font-size: 120%;
    }
    .titulo__logoupel{
        width: 100%;
        justify-content: center;
    }
    .titulo__bienvenida{
        font-size: 250%;    
    }
    .navegacion__elemento--menu{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;   
    }
}
@media (min-width: 321px) and (max-width: 767px) {
    .titulo{
        width: 90%;
        font-size: 170%;
    }
    .titulo__logoupel{
        width: 60%;
    }
    .titulo__bienvenida{
    font-size: 175%;    
    }
    body nav div ul li a{
        width: 115px;
    }

    .navegacion__elemento--menu{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }
}*/
