@import'utilities/variables';
@import'utilities/mixins';

@import'base/base';

@import'components/container';
@import'components/menu';
@import'components/image';

@import'layout/header';
@import'layout/title';
@import'layout/section';
@import'layout/form';
@import'layout/footer';

@import'views/bienvenida';

@import'themes/theme1';

@import'vendors/bootstrap';



/*@media(max-width: 320px) {
    body nav div ul li a{
        width: 115px;
    }
    .titulo{
        width: 88%;
        font-size: 120%;
    }
    .titulo__logoupel{
        width: 100%;
        justify-content: center;
    }
    .titulo__bienvenida{
        font-size: 250%;    
    }
    .navegacion__elemento--menu{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;   
    }
}
@media (min-width: 321px) and (max-width: 767px) {
    .titulo{
        width: 90%;
        font-size: 170%;
    }
    .titulo__logoupel{
        width: 60%;
    }
    .titulo__bienvenida{
    font-size: 175%;    
    }
    body nav div ul li a{
        width: 115px;
    }

    .navegacion__elemento--menu{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }
}*/
