@import'utilities/variables';
@import'utilities/mixins';

@import'base/base';

@import'components/container';
@import'components/menu';
@import'components/image';

@import'layout/header';
@import'layout/_article';
@import'layout/title';
@import'layout/section';
@import'layout/form';
@import'layout/footer';

@import'views/bienvenida';

@import'themes/theme1';

@import'vendors/bootstrap';