* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}

body {
  background: #FFFFFA;
}

body header {
  width: 100%;
  color: aliceblue;
  background-color: #024959;
}

body header nav .titulo__bienvenida {
  font-size: 250%;
  width: 100%;
  text-align: center;
}

body header nav div .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 250%;
  width: 100%;
}

body header nav div div .titulo__nombre {
  width: 1300px;
  text-align: center;
}

body header nav div aside .titulo__logoupel {
  width: 35%;
}

body main {
  width: 100%;
}

body nav {
  background-color: #024959;
  padding: 10px;
  width: 100%;
}

body nav ul {
  text-align: center;
}

body nav ul li {
  list-style: none;
  color: #fff;
  display: block;
  text-decoration: none;
}

body nav ul li a {
  width: 100%;
  margin: 0 auto;
  color: aliceblue;
  background-color: gray;
  text-decoration: none;
}

body nav ul li span {
  margin-right: 5px;
}

body nav ul div ul .navegacion__elemento--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body nav ul div ul li a {
  color: #fff;
  padding: 5px;
  display: block;
}

body nav ul div ul li a :hover {
  background: #037E8C;
}

body nav section {
  background-color: #ff6600;
  color: black;
  text-align: center;
  padding: 15px;
  width: 100%;
  margin: 0 auto;
}

body nav section div .imagen {
  width: 75vw;
}

body nav section .form-control {
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav form {
  text-align: center;
}

body footer {
  background-color: deepskyblue;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  width: 100%;
}

body footer div ul li a {
  text-decoration: none;
}

body footer div ul li a span {
  margin-right: 4px;
}

body input, body select, body textarea, body label {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media (max-width: 320px) {
  body nav div ul li a {
    width: 115px;
  }
  .titulo {
    width: 88%;
    font-size: 120%;
  }
  .titulo__logoupel {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .titulo__bienvenida {
    font-size: 250%;
  }
  .navegacion__elemento--menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 321px) and (max-width: 767px) {
  .titulo {
    width: 90%;
    font-size: 170%;
  }
  .titulo__logoupel {
    width: 60%;
  }
  .titulo__bienvenida {
    font-size: 175%;
  }
  body nav div ul li a {
    width: 115px;
  }
  .navegacion__elemento--menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */