* {
margin: 0;
padding: 0;
display: flex;
flex-wrap: wrap;
font-family: 'Indie Flower', cursive;
}
body {
    background: #FFFFFA;
    header{
        width: 100%;
        color: aliceblue;
        background-color: #024959;
    }
    nav{
        background-color:#024959;
        color:white;
        padding: 10px;	
        width: 100%;
        div{
            ul{
                text-align: center;
                li{
                    a{
                        color:white;
                        padding: 5px;
                    }
                }
            }
        }
        ul{ /* Haz click para conocerme*/
            width: 20%;
            margin: 0;
            display:flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            li {
                list-style: none;
                color:#fff;
                text-decoration: none;
                a:hover{
                    background: #037E8C;
                }
                a {
                    width: 100%;
                    margin: 0 auto;
                    color:aliceblue;
                    background-color:gray;
                    text-decoration:none;
                    padding: 5px;
                }
                span {
                    margin-right: 5px;
                } 
            }                 
        }
    }
    .titulo{
        display: flex;
        justify-content:center;
        text-align: center;
        font-size: 250%;
        width: 100%;
    }
    .titulo__nombre{
        width: 1300px;
        text-align: center;
    }
    .titulo__logoupel{
        width: 35%;
    }
    .navegacion{
        background-color:#024959;
        padding: 10px;
        width: 100%;
    }
    .navegacion__barnav__elemento{
        display: flex;
        justify-content:space-around;
    } 
    main {
        width: 100%;
        section { 
            width: 100%;
            background-color: #ff6600;
            color: black;
            text-align: center;
            padding: 15px;
            margin: 0 auto;
            div{
                text-align: center;
                form {
                    text-align: center;
                }
            }
        }
    }       
    footer {
        background-color: deepskyblue;
        text-decoration:none;
        padding: 10px;
        text-align: center;
        width: 100%;
        div{
            ul{
                li{
                    a{
                        text-decoration:none;
                        span{
                            margin-right: 4px;
                        }
                    }
                }
            }
        }
    }
    input,select,textarea,label {
        justify-content: center;    
        text-align: center;
    }
    .titulo__bienvenida{
        font-size: 250%;
        width: 100%;
        text-align: center;
    }
    .form-control{
        width: 70%;
        justify-content:center;    
        text-align: center;
        align-items: center;
    }
    .imagen {
        margin: 0 auto;
        width: 75vw;
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;   
    }
}
/*@media(max-width: 320px) {
    body nav div ul li a{
        width: 115px;
    }
    .titulo{
        width: 88%;
        font-size: 120%;
    }
    .titulo__logoupel{
        width: 100%;
        justify-content: center;
    }
    .titulo__bienvenida{
        font-size: 250%;    
    }
    .navegacion__elemento--menu{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;   
    }
}
@media (min-width: 321px) and (max-width: 767px) {
    .titulo{
        width: 90%;
        font-size: 170%;
    }
    .titulo__logoupel{
        width: 60%;
    }
    .titulo__bienvenida{
    font-size: 175%;    
    }
    body nav div ul li a{
        width: 115px;
    }

    .navegacion__elemento--menu{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }
}*/
