* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Indie Flower', cursive;
}

$fontsize: 22px;
$width-max: 100%;
body {
    background:url(../images/fondo1.png);
    header{
        width: $width-max;
        color: aliceblue;
        font-size: $fontsize;
    }
    nav{
        color:rgb(99, 7, 99);
        padding: 10px;	
        width: $width-max;
        div{
            ul{
                text-align: center;
                li{
                    a{
                        color:white;
                        padding: 5px;
                    }
                }
            }
        }
        ul{ /* Haz click para conocerme*/
            width: $width-max;/* menu contenedor*/
            margin: 0;
            display:flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            li {
                list-style: none;
                color:#fff;
                text-decoration: none;
                a:hover{
                    background: #c157ba;
                }
                a {
                    width: $width-max;
                    margin: 0 auto;
                    color:aliceblue;
                    background-color:#d623cb;
                    text-decoration:none;
                    padding: 5px;
                }
                span {
                    margin-right: 5px;
                } 
            }                 
        }
    }
    .title {
        display: flex;
        justify-content:center;
        text-align: center; 
        font-size: 250%;
        width: $width-max;
    }
    .title__name{
        width: 95%;
    }
    .title__logo{
        width: 5vw;
    }
    .navegation{
        display: flex;
        justify-content: center;
        padding: 10px;
        width: $width-max;
    }
    main {
        width: 100%;
        section { 
            width: $width-max;
            color: #00d5ff;
            text-align: center;
            padding: 15px;
            margin: 0 auto;
            div{
                text-align: center;
                form {
                    text-align: center;
                }
            }
        }
    }       
    footer {
        text-decoration:none;
        padding: 10px;
        text-align: center;
        width: $width-max;
        div{
            ul{
                li{
                    a{
                        text-decoration:none;
                        span{
                            margin-right: 4px;
                        }
                    }
                }
            }
        }
    }
    input,select,textarea,label {
        justify-content: center;    
        text-align: center;
    }
    .title__welcome {
        font-size: 250%;
        width: $width-max;
        text-align: center;
    }
    .form-control {
        width: 40%;
        justify-content:center;    
        text-align: center;
        align-items: center;
    }
    .image {
        display: flex;
        flex-direction: center;
        justify-content: center;
        width: 100%;
    }
    .image_size {
        width: 75%;
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;   
    }
}
/*@media(max-width: 320px) {
    body nav div ul li a{
        width: 115px;
    }
    .titulo{
        width: 88%;
        font-size: 120%;
    }
    .titulo__logoupel{
        width: 100%;
        justify-content: center;
    }
    .titulo__bienvenida{
        font-size: 250%;    
    }
    .navegacion__elemento--menu{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;   
    }
}
@media (min-width: 321px) and (max-width: 767px) {
    .titulo{
        width: 90%;
        font-size: 170%;
    }
    .titulo__logoupel{
        width: 60%;
    }
    .titulo__bienvenida{
    font-size: 175%;    
    }
    body nav div ul li a{
        width: 115px;
    }

    .navegacion__elemento--menu{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }
}*/
