/*In this section: images*/
.main__image {
    top:25px;
    width: 100%;    
    text-align: center;
    z-index: 1;
}
.main__image-size {
    margin-top: 10px;
    border-radius: 20px;
    z-index: 1;
}
.image__size1 {
    margin: 0;

}
.aside__img1{
    margin: 0;
    width: 65%;
    max-width: 75%;
    height: auto;
    border-radius: 20px;
    z-index: 5;
}

.aside__img2{
    margin: 0;
    width: 65%;
    max-width: 75%;
    height: auto;
    border-radius: 20px;
}
.aside__img3{
    margin: 0;
    width: 65%;
    max-width: 75%;
    height: auto;
    border-radius: 20px;
}
.aside__img4{
    margin: 0;
    width: 65%;
    max-width: 75%;
    height: auto;
    border-radius: 20px;
}
.aside__img5{
    margin: 0;
    width: 65%;
    max-width: 75%;
    height: auto;
    border-radius: 20px;
}
@media (min-width: 50px) and (max-width: 800px){
    .main__image {
        top:25px;
        width: 100%;    
        text-align:center;
    }
    .main__image-size {
        margin-top: 40px;
        margin-left: 0px;
        max-width: 100%;
        height: auto;
        border-radius: 20px;
    }
    .aside__img1{
        margin: 10px;
        width: 95%;
        max-width: 90%;
        height: auto;
        border-radius: 20px;
    }
    
    .aside__img2{
        margin: 10px;
        width: 95%;
        max-width: 90%;
        height: auto;
        border-radius: 20px;
    }
    .aside__img3{
        margin: 10px;
        width: 95%;
        max-width: 90%;
        height: auto;
        border-radius: 20px;
    }
    .aside__img4{
        margin: 10px;
        width: 95%;
        max-width: 90%;
        height: auto;
        border-radius: 20px;
    }
    .aside__img5{
        margin: 10px;
        width: 95%;
        max-width: 90%;
        height: auto;
        border-radius: 20px; 
    }
}