    /*In this section: images*/
.image {
    display: flex;
    flex-direction: center;
    justify-content: center;
    width: 100%;
}
.image__size {
        position: relative;
    top: 140px;
    border-radius: 20px 20px 20px 20px;
}