/*In this section: images*/
.image {
    width: 100%;    
    text-align: center;
}
.image__size {
    margin-top: 10px;
    border-radius: 20px 20px 20px 20px;
}
.image__size1 {
    margin: 0;
    border-radius: 20px 20px 20px 20px;
}