    /*In this section: images*/
.image {
    box-sizing: content-box;
    width: 100%;
    height: 350px;
    z-index: 5;
    margin: 10px;
    padding-top: 60px;
}
.image__size {
    border-radius: 20px 20px 20px 20px;
}