/*In this section: menu*/
.menu {
    width: $width-max;
    color:#630763;
    text-decoration: none;
}
.menu__list {
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    position: fixed;
    top:10px;
    z-index: 10;
}
.menu__item {
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 125px;
    color:aliceblue;
    background-color:#d623cb;
    text-decoration: none;
    padding: 5px;
    border-radius: 20px 20px 20px 20px;
}
.menu__item:hover{
    background: #c157ba;
    }

.title__logo{
    width: 5%;
}

@media(max-width: 600px){
    .menu {
        width: $width-max;
        color:#630763;
        text-decoration: none;
    }    
.menu__list {   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    top:140px;
    z-index: 10;
}
}
@media(min-width: 601px) and(max-width: 885px){
    .menu__list {   
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        list-style: none;
        top:140px;
        z-index: 10;
    }
}