/*In this section: menu*/
.menu {
    width: $width-max;
    color:#630763;
    text-decoration: none;
}
.menu__list {
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    position: fixed;
    top:160px;
    z-index: 10;
}
.menu__item {
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 125px;
    color:aliceblue;
    background-color:#d623cb;
    text-decoration: none;
    padding: 5px;
    border-radius: 20px 20px 20px 20px;
}
.menu__item:hover{
    background: #c157ba;
    }


@media(min-width:50px) and (max-width: 600px){
    .menu__list {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        list-style: none;
        position: fixed;
        top:85px;
        z-index: 10;
    }
    .menu__item {
        font-size: 0.5rem;
        margin: 2px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 65px;
        color:aliceblue;
        background-color:#d623cb;
        text-decoration: none;
        padding: 5px;
        border-radius: 20px 20px 20px 20px;
    }   
}
@media(min-width: 600px) and (max-width: 1000px){
    .menu__list {
        width: 100%;
        display: flex;
        justify-content: center;
        text-decoration: none;
        list-style: none;
        position: fixed;
        top:100px;
        z-index: 10;
    }
    .menu__item {
        font-size: 12px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 85px;
        color:aliceblue;
        background-color:#d623cb;
        text-decoration: none;
        padding: 5px;
        border-radius: 20px;
    }
}