/*In this section: menu*/
.menu__bar {
    width: $width-max;
    color:#630763;
    padding: 10px;
    text-decoration: none;
    position: fixed;
}
.menu__list {   
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 0 auto;
    list-style: none;
}
.menu__item {
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 125px;
    color:aliceblue;
    background-color:#d623cb;
    text-decoration: none;
    padding: 5px;
    border-radius: 20px 20px 20px 20px;
}
.menu__item:hover{
    background: #c157ba;
    }



.title__logo{
    width: 5%;
}
