#about{
    width: 100%;
    margin: 5px;
    color: $color_violeta;
    text-align: center;
}
#experience{
    box-sizing: content-box;
    width: 100%;
    margin:0;
    color: $color_violeta;
    text-align: center;
    padding: 5px;
}
.article{
    margin: 0;
}