.aside {
    padding-top: 230px;
    right: 0;
    width:25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    float: right;
}    
/*@media (max-width: 768px) {
    .aside { 
    padding-top: 200px;
    height: 1000px;
    color: #292428;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    margin-bottom: 550px;
    }
}*/