.aside { 
    background: blanchedalmond;
    position: relative;
    top:225px;
    float: right;
    width:25%;
    height: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    z-index: 5;
}    
/*@media (max-width: 768px) {
    .aside { 
    padding-top: 200px;
    height: 1000px;
    color: #292428;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    margin-bottom: 550px;
    }
}*/