/*In this section: footer*/
.footer {
    text-decoration:none;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: $width-max;
}
.footer__item{
    text-decoration:none;
    margin-right: 4px;
}
.span {
    margin-right: 5px;
    text-decoration:none;
}