/*In this section: footer*/
.footer {
    position: absolute;
    bottom: 0;
    width: $width-max;
    height: 140px;
    /*display: flex;
    justify-content: center;
    align-self: flex-end;
    text-align: center;*/
    list-style: none;
}
.footer__list{
    width: 100%;
    list-style-type: none;
    text-align: center;
}
.footer__item{  
    text-decoration: none;
}
.footer__copyright{
    color:white;
    width: 100%;
    font-size: 15px;
    padding: 0;
    margin: 0;
}
.span {
    margin-right: 5px;
}

/*@media (min-width: 50px) and(max-width: 900px){
    .footer {
        box-sizing: border-box;
        padding: 200px;
        margin: 10px;
        text-align: center;
        width: $width-max;
        list-style: none;
    }
}*/