/*In this section: footer*/
.footer {
    padding: 5px;
    text-align: center;
    width: $width-max;
    list-style: none;
}
.footer__list{
    list-style-type: none;
    margin-right: 4px;
}
.footer__item{
    text-decoration: none;
}
.span {
    margin-right: 5px;;
}