/*In this section: footer*/
.footer {
    padding-top: 1300px;
    width: $width-max;
    height: 140px;
    /*display: flex;
    justify-content: center;
    align-self: flex-end;
    text-align: center;*/
    list-style: none;
}
.footer__list{
    width: 100%;
    list-style-type: none;
    text-align: center;
}
.footer__item{  
    text-decoration: none;
}
.footer__copyright{
    color:white;
    width: 100%;
    font-size: 15px;
    padding: 0;
    margin: 0;
}
.span {
    margin-right: 5px;
}

@media (min-width: 50px) and(max-width: 767px){
    .footer {
        padding-top: 1800px;
        width: $width-max;
        height: 140px;
        list-style: none;
    }
}
@media (min-width: 768px) and(max-width: 1024px){
    .footer {
        padding-top: 1400px;
        width: $width-max;
        height: 140px;
        list-style: none;
    }
}