/*In this section:Form*/
.form_control {
    padding-top: 20px;
    width: 100%;
    justify-content:center;    
    text-align: center;
    align-items: center;
}
.description{
    width: 35%;
    text-align:center;

}