/*In this section: header*/
.header {
    width: 100%;
    color: aliceblue;
    display: flex;
    justify-content: center;
}
.header__name {
    width: 95%;
    font-size: 250%;
    display: flex;
    justify-content: flex-end;
}
.header__bloque {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header__logo{
    width: 40%;
}