/*In this section: header*/
.header {
    width: 100%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    position: relative;
}
.header__name {
    width: 100%;
    font-size: 250%;
    display: flex;
    justify-content: center;
    position: absolute;
}
.header__bloque {
    /**display: flex;
    justify-content: center;
    align-items: center;*/
}
.header__logo{
    width: 5%;
    position: absolute;
    top: 22px;
    right: 20px;
}