/*In this section: header*/
.header {
    width: 95%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    text-align: center;
}
.header__name {
    width: 100%;
    font-size: 250%;
}
.header__logo{
    width: 5%;
}