/*In this section: header*/
.header {
    width: 100%;
    position: relative;
}
.header__name {
    color: $color_violeta;
    width: 100%;
    height: auto;
    font-size: 220%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    padding-top: 50px;
}
.header__logo{
    position: absolute;
    width: 80px;
    top: 40px;
    right: 20px;
}
@media(max-width: 600px){
    .header {
        width: 100%;
        color: $color_violeta;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .header__name {
        width: 100%;
    
        font-size: 80%;
        display: flex;
        justify-content: center;
        position: relative;
        top:25px;
        z-index: 5;
    }
    .header__logo{
        width: 25%;
        max-width: 40px;
        position: absolute;
        top: 25px;
        right: 20px;
    }
}
@media(min-width: 601px) and(max-width: 1000px){
    .header {
        width: 100%;
        color: $color_violeta;
        display: flex;
        justify-content: center;

    }
    .header__name {
        width: 100%;
        font-size: 150%;
        display: flex;
        justify-content: center;
        z-index: 5;
    }
}