/*In this section: header*/
.header {
    width: 100%;
    position: fixed;
}
.header__name {
    color: $color_violeta;
    width: 100%;
    height: auto;
    font-size: 210%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    padding-top: 20px;
}
.header__logo{
    position: absolute;
    width: 80px;
    top: 40px;
    right: 20px;
}
@media(min-width: 50px) and (max-width: 280px){
    .header {
        width: 100%;
        height: 114px;
        color: $color_violeta;
        display: flex;
        justify-content: center;
    }
    .header__name {
        color: $color_violeta;
        width: 80%;
        height: 70px;
        font-size: 48%;
        position: absolute;
        left: 15px;
        z-index: 5;
        padding-top: 50px;
        margin: 0;
    }
    .header__logo{
        position: absolute;
        width: 35px;
        top: 25px;
        right: 20px;
    }
}
@media(min-width: 280px) and (max-width: 768px){
    .header {
        width: 100%;
        height: 114px;
        color: $color_violeta;
        display: flex;
        justify-content: center;
    }
    .header__name {
        color: $color_violeta;
        width: 85%;
        height: 70px;
        font-size: 100%;
        display: flex;
        text-align: center;
        z-index: 5;
        padding-top: 50px;
        margin: 0;
    }
    .header__logo{
        position: absolute;
        width: 40px;
        top: 30px;
        right: 20px;
    }
}
@media(min-width:768px) and (max-width: 1024px){
    .header {
        width: 100%;
        position: fixed;
    }
    .header__name {
        color: $color_violeta;
        width: 100%;
        height: auto;
        font-size: 150%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 5;
        padding-top: 30px;
    }
    .header__logo{
        position: absolute;
        width: 60px;
        top: 40px;
        right: 20px;
    }
}