/*In this section: header*/
.header {
    width: 100%;
    position: fixed;
}
.header__name {
    color: $color_violeta;
    width: 100%;
    height: auto;
    font-size: 210%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 50;
    padding-top: 20px;
}
.header__logo{
    position: absolute;
    width: 7%;
    max-width: 70%;
    top: 40px;
    right: 20px;
    z-index: 50;
}
@media(min-width: 50px) and (max-width: 600px){
    .header {
        width: 100%;
        height: auto;
        color: $color_violeta;
        display: flex;
        justify-content: center;
    }
    .header__name {
        color: $color_violeta;
        width: 80%;
        font-size: 60%;
        left: 15px;
        z-index: 50;
        margin: 0;
    }
    .header__logo{
        position: absolute;
        width: 10%;
        max-width: 40%;
        top: 25px;
        right: 20px;
        z-index: 50;
    }
}
@media(min-width: 600px) and (max-width: 1000px){
    .header {
        width: 100%;
        height: 114px;
        color: $color_violeta;
        display: flex;
        justify-content: center;
    }
    .header__name {
        color: $color_violeta;
        width: 85%;
        height: 70px;
        font-size: 130%;
        display: flex;
        text-align: center;
        z-index: 50;
        padding-top: 50px;
        margin: 0;
    }
    .header__logo{
        position: absolute;
        width: 10%;
        max-width: 60%;
        top: 40px;
        right: 20px;
        z-index: 50;
    }
}
