/*In this section:section*/ 
.section1 { 
    width: $width-max;
    @include fontstyle(color);
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.section2 {
    box-sizing: border-box; 
    width: $width-max;
    @include fontstyle(color);
    text-align: center;
    margin: 0;
    padding-left: 20px;
}
.section3 {
    box-sizing: border-box;
    margin: 40px;
    @include fontstyle(color);
    text-align: center;
}
.section4 {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

