/*In this section:section*/ 
.section1 { 
    width: $width-max;
    color: #292428;
    text-align: center;
    margin: 0;
}
.section2 { 
    width: $width-max;
    color: #292428;
    text-align: center;
    margin: 0;
}
.section3 { 
    width: $width-max;
    color: #292428;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 0;
}
.section4 { 
    width: $width-max;
    color: #292428;
    text-align: center;
    margin: 0;
}
.section5 {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
