/*In this section:section*/ 
.section { 
    width: $width-max;
    color: #292428;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}
p{
    top: 25px;
}
.sectionform {
    text-align: center;
}
.section__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}