/*In this section: variables*/
/*In this section mixins*/
/*In this section: base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}

body {
  background: url("../images/background.png");
  font-size: 20px;
  width: 100%;
  height: 1700px;
}

input, select, textarea, label {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 3px;
  border-radius: 20px;
}

/*In this section: container*/
.container {
  position: relative;
}

/*In this section: menu*/
.menu {
  width: 100%;
  color: #630763;
  text-decoration: none;
}

.menu__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  list-style: none;
  position: fixed;
  top: 160px;
  z-index: 10;
}

.menu__item {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 125px;
  color: aliceblue;
  background-color: #d623cb;
  text-decoration: none;
  padding: 5px;
  border-radius: 20px 20px 20px 20px;
}

.menu__item:hover {
  background: #c157ba;
}

@media (min-width: 50px) and (max-width: 600px) {
  .menu__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    list-style: none;
    position: fixed;
    top: 85px;
    z-index: 10;
  }
  .menu__item {
    font-size: 0.5rem;
    margin: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 65px;
    color: aliceblue;
    background-color: #d623cb;
    text-decoration: none;
    padding: 5px;
    border-radius: 20px 20px 20px 20px;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .menu__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    list-style: none;
    position: fixed;
    top: 100px;
    z-index: 10;
  }
  .menu__item {
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85px;
    color: aliceblue;
    background-color: #d623cb;
    text-decoration: none;
    padding: 5px;
    border-radius: 20px;
  }
}

/*In this section: images*/
.main__image {
  top: 25px;
  width: 100%;
  text-align: center;
}

.main__image-size {
  margin-top: 10px;
  border-radius: 20px;
}

.image__size1 {
  margin: 0;
}

.aside__img1 {
  margin: 0;
  width: 100%;
  max-width: 90%;
  height: auto;
  border-radius: 20px;
  z-index: 5;
}

.aside__img2 {
  margin: 0;
  width: 100%;
  max-width: 90%;
  height: auto;
  border-radius: 20px;
}

.aside__img3 {
  margin: 0;
  width: 100%;
  max-width: 90%;
  height: auto;
  border-radius: 20px;
}

.aside__img4 {
  margin: 0;
  width: 100%;
  max-width: 90%;
  height: auto;
  border-radius: 20px;
}

.aside__img5 {
  margin: 0;
  width: 100%;
  max-width: 90%;
  height: auto;
  border-radius: 20px;
}

@media (min-width: 50px) and (max-width: 800px) {
  .main__image {
    top: 25px;
    width: 100%;
    text-align: center;
  }
  .main__image-size {
    margin-top: 10px;
    margin-left: 0px;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .aside__img1 {
    margin: 10px;
    width: 95%;
    max-width: 90%;
    height: auto;
    border-radius: 20px;
  }
  .aside__img2 {
    margin: 10px;
    width: 95%;
    max-width: 90%;
    height: auto;
    border-radius: 20px;
  }
  .aside__img3 {
    margin: 10px;
    width: 95%;
    max-width: 90%;
    height: auto;
    border-radius: 20px;
  }
  .aside__img4 {
    margin: 10px;
    width: 95%;
    max-width: 90%;
    height: auto;
    border-radius: 20px;
  }
  .aside__img5 {
    margin: 10px;
    width: 95%;
    max-width: 90%;
    height: auto;
    border-radius: 20px;
  }
}

/*In this section: header*/
.header {
  width: 100%;
  position: fixed;
}

.header__name {
  color: #4c2882;
  width: 100%;
  height: auto;
  font-size: 210%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  padding-top: 20px;
}

.header__logo {
  position: absolute;
  width: 7%;
  max-width: 70%;
  top: 40px;
  right: 20px;
}

@media (min-width: 50px) and (max-width: 600px) {
  .header {
    width: 100%;
    height: auto;
    color: #4c2882;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__name {
    color: #4c2882;
    width: 80%;
    font-size: 60%;
    left: 15px;
    z-index: 10;
    margin: 0;
  }
  .header__logo {
    position: absolute;
    width: 10%;
    max-width: 40%;
    top: 25px;
    right: 20px;
    z-index: 10;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .header {
    width: 100%;
    height: 114px;
    color: #4c2882;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__name {
    color: #4c2882;
    width: 85%;
    height: 70px;
    font-size: 130%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    z-index: 5;
    padding-top: 50px;
    margin: 0;
  }
  .header__logo {
    position: absolute;
    width: 10%;
    max-width: 60%;
    top: 40px;
    right: 20px;
    z-index: 10;
  }
}

#about {
  width: 100%;
  margin: 5px;
  color: #4c2882;
  text-align: center;
}

#experience {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100%;
  margin: 0;
  color: #4c2882;
  text-align: center;
  padding: 5px;
}

.article {
  margin: 0;
}

/*In this section:section*/
.section1 {
  width: 100%;
  color: #292428;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.section2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  color: #292428;
  text-align: center;
  margin: 0;
  padding-left: 20px;
}

.section3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 40px;
  color: #292428;
  text-align: center;
}

.section4 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*In this section:Form*/
.form_control {
  padding-top: 20px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description {
  width: 35%;
  text-align: center;
}

/*In this section: footer*/
.footer {
  position: absolute;
  top: 1500px;
  width: 100%;
  height: 160px;
  padding: 0;
  /*display: flex;
    justify-content: center;
    align-self: flex-end;
    text-align: center;*/
  list-style: none;
}

.footer__list {
  width: 100%;
  list-style-type: none;
  text-align: center;
}

.footer__item {
  text-decoration: none;
}

.footer__copyright {
  color: white;
  width: 100%;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.span {
  margin-right: 5px;
}

/*@media (min-width: 50px) and(max-width: 900px){
    .footer {
        box-sizing: border-box;
        padding: 200px;
        margin: 10px;
        text-align: center;
        width: $width-max;
        list-style: none;
    }
}*/
.aside {
  background: blanchedalmond;
  position: relative;
  top: 225px;
  float: right;
  width: 25%;
  height: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  z-index: 5;
}

/*@media (max-width: 768px) {
    .aside { 
    padding-top: 200px;
    height: 1000px;
    color: #292428;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    margin-bottom: 550px;
    }
}*/
.main {
  position: absolute;
  width: 75%;
  top: 0;
  padding-top: 220px;
  margin: 0;
  float: left;
}

/*In this section css for another pages*/
.title__welcome {
  color: #4c2882;
  font-size: 250%;
  width: 100%;
  text-align: center;
}

.image-welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-welcome__size {
  border-radius: 20px 20px 20px 20px;
}

.button__list {
  margin: 30px 0px 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  list-style: none;
}

.button__element {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  color: aliceblue;
  background-color: #d623cb;
  text-decoration: none;
  padding: 5px;
  border-radius: 20px 20px 20px 20px;
}

.footer1 {
  /* Haz click para conocerme*/
  text-align: center;
}

@media (min-width: 50px) and (max-width: 768px) {
  .title__welcome {
    color: #4c2882;
    font-size: 120%;
    width: 100%;
    text-align: center;
  }
  .image-welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .image-welcome__size {
    width: 250px;
    height: 150px;
    border-radius: 20px 20px 20px 20px;
  }
}

/* In this section theme1*/
/*In this section bootstrap*/
/*# sourceMappingURL=main.css.map */