* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}

body {
  background: #FFFFFA;
}

body header {
  width: 100%;
  color: aliceblue;
  background-color: #024959;
}

body nav div ul {
  text-align: center;
}

body nav div ul li {
  list-style: none;
  color: #fff;
  display: block;
  text-decoration: none;
}

body nav div ul li a {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  background-color: gray;
  text-decoration: none;
  padding: 5px;
  display: block;
}

body nav div ul li a span {
  margin-right: 5px;
}

body nav div ul li a:hover {
  background: #037E8C;
}

body .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 250%;
  width: 100%;
}

body .titulo__nombre {
  width: 1300px;
  text-align: center;
}

body .titulo__logoupel {
  width: 35%;
}

body .navegacion {
  background-color: #024959;
  padding: 10px;
  width: 100%;
}

body .navegacion__barnav__elemento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main {
  width: 100%;
}

body main section {
  background-color: #ff6600;
  color: black;
  text-align: center;
  padding: 15px;
  width: 100%;
  margin: 0 auto;
}

body main section form {
  text-align: center;
}

body footer {
  background-color: deepskyblue;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  width: 100%;
}

body footer div ul li a {
  text-decoration: none;
}

body footer div ul li a span {
  margin-right: 4px;
}

body input, body select, body textarea, body label {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body .titulo__bienvenida {
  font-size: 250%;
  width: 100%;
  text-align: center;
}

body .form-control {
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .imagen {
  width: 75vw;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*@media(max-width: 320px) {
    body nav div ul li a{
        width: 115px;
    }
    .titulo{
        width: 88%;
        font-size: 120%;
    }
    .titulo__logoupel{
        width: 100%;
        justify-content: center;
    }
    .titulo__bienvenida{
        font-size: 250%;    
    }
    .navegacion__elemento--menu{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;   
    }
}
@media (min-width: 321px) and (max-width: 767px) {
    .titulo{
        width: 90%;
        font-size: 170%;
    }
    .titulo__logoupel{
        width: 60%;
    }
    .titulo__bienvenida{
    font-size: 175%;    
    }
    body nav div ul li a{
        width: 115px;
    }

    .navegacion__elemento--menu{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }
}*/
/*# sourceMappingURL=main.css.map */