/*In this section css for another pages*/
.title__welcome {
    color: $color_violeta;
    font-size: 250%;
    width: $width-max;
    text-align: center;
}

.click__meet{
    text-align: center;
}
.footer1 { /* Haz click para conocerme*/
    text-align: center;
}