/*In this section css for another pages*/
.click__meet { /* Haz click para conocerme*/
    width: $width-max;/* menu contenedor*/
    margin: 0 auto;
    display:flex;
    text-align: center;
    align-items:center;
    justify-content: center;
}